/* ==========================================================================
   Base Layout
   ========================================================================== */

// Remove default margin.
body {
    margin: 0;
    background-color: #FFD576;
}
.top-bar {
	height: 24px;
	display: block;
	background-color: #FFD576;
	text-align: right;
}
#super-header-container {
	width: 1146px;
	margin: 0 auto;
}
.menu-top {
	
}
.site-header {
	background-color: #FCB44C;
	background-image: url('../img/header_bg.png');
	height: 156px; /* Some kind of height is necessary here. */
	line-height: 148px; /* This value should equal the height */
	text-align: center; /* This horizontally centers the element */
}
.headercontainer {
	margin: 0 auto;
	padding: 10px 0;
	width: 1146px;
	display: inline-block;
	*display: inline; zoom: 1; /* IE7 inline-block hack */
  	line-height: normal; /* If left out, the line-height of .block will be inherited - by the parent (500px) in this case */
  	vertical-align: middle;
}
.site-branding {
	clear: none;
	float: left;
	position: relative;
	top: 50%;
}
.main-navigation {
	display: block;
	float: right;
	margin-top: 18px;
	margin-right: -0.5em;
}
.site-title {
	float: left;
}

//Layout: Content-Sidebar
.content-area {
	float: left;
	margin: 0 -25% 0 0;
	width: 100%;
}
.site-content {
	margin: 0 25% 0 0;
	padding: 0 60px 0 30px;
}
.site-main {
	background-color: #fff;
	float: none;
	margin: 0 auto;
	margin-top: -36px;
	padding: 20px 40px;
	overflow: visible;
	width: 1060px;
	-webkit-box-shadow: 0px 0px 0px 6px rgba(245,130,32,0.3);
	box-shadow: 0px 0px 0px 6px rgba(245,130,32,0.3);
}
.widget-area {
	float: right;
	width: 25%;
}

.entry-header {
	height: auto;
	line-height: 2.4em;
	margin-bottom: 1.4em;
	margin-top: -1.5em;
}
.entry-content{
	margin: 0;
	padding-bottom: 1em;
	border-bottom: 1px dotted #22AAC5;
}
.post-date {
	background-color: #22AAC5;
	color: #fff;
	font-variant: small-caps;
	min-width: 3em;
	text-align: center;
	display: inline-block;
	font-size: 1em;
	line-height: 1.3em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-right: 0.6em;
	padding-left: 0.9em;
	position: relative;
	float: left;
	top: 3.2em;
	right: 5.8em;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
	text-shadow: 1px 1px 0 #1C8D9C;
	margin-bottom: 8px;
}
.post-date:after {
	content: '';
	position: relative;
	left: -45px;
	bottom: -37px;
	height: 0;
	width: 0;
	border-top: 16px solid #28929B;
	border-left: 12px solid transparent;
}

.post-year {
	font-size: 0.8em;
	letter-spacing: 0.2em;
	border-top: 1px dotted #fff;
	margin-top: 0.2em;
}
.post-thumbnail {
	float: left;
}
.post-thumbnail img {
	border: 1px solid #AAA;
	margin: 1.5em 1.5em 1em 0;
	-webkit-box-shadow: 4px 4px 0 #E5E5E5;
	box-shadow: 4px 4px 0 #E5E5E5;
}
.site-footer {
	clear: both;
	width: 100%;
}

//class to hide the site description
.hide { 
	  position: absolute; 
	  overflow: hidden; 
	  clip: rect(0 0 0 0); 
	  height: 1px; width: 1px; 
	  margin: -1px; padding: 0; border: 0; 
}